<section id="footer">
  <div class="bg-pacific color-white p-mobile-40">
    <h3 class="color-sea-foam">Our Programs</h3>
    <ul class="footer--program-listing">
      <li class="footer--list-head">For Individuals</li>
      <ul class="footer--link-list">
        <li class="footer--list-subitem">Masters of Arts in Teaching</li>
        <li class="footer--list-subitem">Alternate Certification</li>
        <li class="footer--list-subitem">Certifications</li>
        <li class="footer--list-subitem">Professional Education</li>
        <li class="footer--list-subitem">Leadership Programs</li>
      </ul>
    </ul>
    <ul class="footer--program-listing">
      <li class="footer--list-head">For Organizations</li>
      <ul class="footer--link-list">
        <li class="footer--list-subitem">Teacher Pipeline</li>
        <li class="footer--list-subitem">Continuing Education</li>
      </ul>
    </ul>
  </div>
  <div class="bg-prussian p-mobile-40">
    <h3 class="color-sea-foam">Locations</h3>
    <p class="color-fog">
      Select the location you would like to teach in to learn about the options
      in your area.
    </p>
    <div>
      <div class="select-state--dropdown-container">
        <select name="states" id="state-select" class="color-pacific">
          <option value="">- Select a State -</option>
          <option value="Texas">Texas</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Michigan">Michigan</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Nevada">Nevada</option>
        </select>
        <button type="button" class="btn btn--primary">Continue</button>
      </div>
    </div>
  </div>
</section>
